body {

    font-family: 'Open Sans', sans-serif;
    background: #fefefe;
    color: #353535;

}

nav {

    position: fixed;
    height: 150px;
    width: 100%;
    background: #fefefe;
    z-index: 1;

}

h1 {

    font-size: 3.5rem;
    line-height: 1;

}

h2 {
    color: #072b3a;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

p {
    color: #343434;
    font-size: 1.2rem;
    padding-right: 150px;

}

ul {

    list-style: none;
    height: 100px;

}

.grid {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
    grid-gap: 20px;

}

/*////////// HOME PAGE //////////*/

nav ul {

    padding: 10px;
    width: 100%;
    display: table;
    box-sizing: border-box;

}

nav ul li {

    color: #43c6bf;

}


.btn-navigation {

    /*    position: absolute;*/
    cursor: pointer;
    display: table-cell;

}




.btn-navigation .barre {

    width: 30px;
    height: 3px;
    background: #43c6bf;
    margin-top: 5px;

}



.logo {

    margin: auto;
    text-align: center;
    width: 100%;
    display: table-cell;



}

.logo span {

    display: block;
    color: #1d808c;
    font-size: 70px;

}



/*////////// MENU DE NAVIGATION //////////*/

.menu-navigation {
    position: fixed;
    left: 0;
    background: #fefefe;
    width: 50%;
    height: 90%;
    margin-top: 150px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
    z-index: 1;

}

.menu-navigation.isOpen {

    transform: translateX(0%);
    -webkit-transform: translateX(0%);

}

.menu-navigation ul {

    width: 500px;
    height: 80%;
    margin: auto;
    padding: 20%;

}

.menu-navigation ul li {
    
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.menu-navigation ul li a {

    color: #1d808c;
    text-transform: uppercase;
    text-decoration: none;
    
    font-size: 1.5rem;
    letter-spacing: 0.5em;

}

/*////////// HOME PRESENTATION ///////////*/

.homePresentation {

    background: url('images/maldives-666122_1920.jpg')center;
    height: 850px;
}

.homePresentation h1 {
    grid-column: 1/2;
    grid-row: 5/8;
    color: white;
    text-transform: uppercase;
    /*    text-shadow: 0.5px 0.5px 3px  #343434;*/
    font-size: 5rem;
    margin-left: 15%;

}



/*////////// COME TO HOME //////////*/

.comeToHome {

    background: url("images/feuille_background.svg") no-repeat;
}


.comeToHome {

  
}


.cthText {

    grid-column: 1/4;
    grid-row: 1/6;
    background: #fefefe;
    margin: 20% 0 0 20%;
    padding: 10px 10px 10px 50px;

}

.cthText h2 {

    font-size: 4rem;

}




.cthText h2 span {

    display: block;
    color: #43c6bf;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;


}



.cthHome {
    grid-column: 3/12;
    grid-row: 2/10;
    max-width: 600px;
    


}



.cthChild {
    grid-column: 2/12;
    grid-row: 7/12;
    max-width: 800px;
    margin-left: 100px;


}

@media screen and (min-width: 1650px){
    
    
  
.cthHome {
     grid-column: 4/5;
    grid-row: 1/10;
    max-width: 800px;
       margin-top: 100px;
}



.cthChild {
  grid-column: 1/12;
    grid-row: 6;
    max-width: 1000px;
    margin: 100px 0 0 160px;

}  
    
    
}

/*/////////// LUXURY APARTMENT //////////*/

.luxuryApartment {


    max-width: 100%;
    display: block;
    text-align: center;

}

.luxuryApartment img {

max-width: 90%;

}
@media screen and (min-width: 1650px){
    
    
.luxuryApartment img {


    width: 1600px;
    height: 1200px
}
    
}

/*///////// SEE YOUR HOME TILTE //////////*/

.seeYourHomeTitle {
    background: url("images/feuille_background.svg") no-repeat;
    height: 200px;
    padding-top: 50px;
    width: 900px
}

.seeYourHomeTitle h2 {

    font-size: 4rem;
    margin-left: 300px;
}


/*///////// SEE YOUR HOME //////////*/

.seeYourHome {

    background: url('images/feuille_background.svg') #f6f7f5;
    margin: 2%;
    height: 1100px;
}

.seeYourHome .villa {

    grid-column: 7/11;
    height: 900px;
    grid-row: 1;
    margin-left: 30px
  

}
@media screen and (min-width: 1650px){
    
    
    
.seeYourHome .villa {

    grid-column: 3;
    height: 1000px;
    grid-row: 1;
    margin-left: 70px;

}
    
    
}

.seeYourHome .sunset {

    width: 500px;
    grid-column: 3/12;
    grid-row: 1;
    
}


@media screen and (min-width: 1650px){
    
    
    .seeYourHome .sunset {

    width: 600px;
    margin-left: 5%;
    grid-column: 2;
    grid-row: 1;
}

    
    
    
    
    
}

.seeYourHome span {

    display: block;
    color: #43c6bf;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;

}

.seeYourHome .syhText {


 
    grid-row: 1;
    background: #fefefe;
 
    width: 480px;
    
    padding-left: 20px;
}

@media screen and (min-width: 1650px){
    
    
.seeYourHome .syhText {
    grid-row: 1;
    background: #fefefe;
    width: 580px;
    margin-left: 8.5rem;
    padding-left: 20px;
}
    
    
    
    
    
}
.seeYourHome h2 {

    font-size: 4rem;



}

/*////////// SUN CAILLOU /////////*/

.sunCaillou {

    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;


}




.sunCaillou img {


    width: 1400px;
    height: 800px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1650px){
    
    
    
    
.sunCaillou img {


    width: 1650px;
    height: 1200px;
    margin-bottom: 10px;
}
    
    
}


.sunCaillou a {

position: absolute;
left: 40%;
    top: 45%;
    
border: solid 3px #fefefe;
    color: #fefefe;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    height: 30px;
    width: 300px;
    padding-top: 15px;
    opacity: 0.9;
    transition: 0.5s;
    letter-spacing: 5px;
    font-weight: 900;
 
}



.sunCaillou a:hover {
background: #fefefe;
    color: #072b3a;
    opacity: 0.9;
 
}













