body {

    font-family: 'IBM Plex Sans', sans-serif;
    background: #fefefe;
    color: #353535;
}

h1 {

    font-size: 3.5rem;
}

ul {

    list-style: none;
    height: 100px;

}

.grid{
    
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
  grid-gap: 20px;
    
}

/*////////// HOME PAGE //////////*/

nav ul {

    padding: 10px;

}

nav ul li {

    color: #43c6bf;

}


.btn-navigation {

    /*    position: absolute;*/
    float: left;
    cursor: pointer;
    
}




.btn-navigation .barre {

    width: 30px;
    height: 3px;
    background: #43c6bf;
    margin-top: 3px;

}

.logo {

    margin: auto;
    float: left;
    text-align: center;
margin-left: 43%;

}

.logo span {

    display: block;
    color: #1d808c;
    font-size: 70px;

}


.contact-nav {

    float: right
}

.btn-navigation, .contact-nav{
    
    margin-top: 30px;
    
}
/*////////// MENU DE NAVIGATION //////////*/

.menu-navigation {
    position: fixed;
    left: 0;
    padding: 0 30px;
    background: #333;
    width: 20%;
    height: 100%;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);

}

.menu-navigation ul {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.menu-navigation ul li {
    margin: 20px auto;

}

.menu-navigation ul li a {

    color: #fefefe;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    font-size: 1.5rem;
    letter-spacing: 0.5em;

}

/*////////// HOME PRESENTATION ///////////*/

.homePresentation{
    
    background: url('images/maldives-666122_1920.jpg')center;
    height: 850px;
}
.homePresentation h1{
    grid-column: 2/4;
    grid-row: 4/6;
   color: white;
    text-transform: uppercase;
/*    text-shadow: 1px 1px 1px #343434;*/
    

}





